{% extends 'base.html' %}

{% block title %}Chordify - Upload file{% endblock %}
{% block content %}
    <div id="loading"></div>
    <div class="upload">
        <h1>Transcript <a id="click">file</a></h1>
        <form id="form" action="{{ url_for('upload.index') }}" method="POST" hidden>
            <input id="file" name="file" type="file" accept=".wav">
        </form>
    </div>
{% endblock %}

{% block footer %} <h3>Bang ... </h3>{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='upload.js') }}"></script>
{% endblock %}



