@font-face {
    font-family: 'traveling__typewriterregular';
    src: url('fonts/travelingtypewriter-webfont.woff2') format('woff2'),
    url('fonts/travelingtypewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'traveling__typewriterregular';
    src: url('fonts/travelingtypewriter-webfont.woff2') format('woff2'),
    url('fonts/travelingtypewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'traveling__typewriterregular', Arial, sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: lighter;
    margin: 16px 0;
}

header {
    text-align: center;

    margin: 0 auto;
    width: 80%;
}

footer {
    text-align: center;

    margin: 0 auto;
    width: 80%;
}

section {

}

.content {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 800px) {
    .content {
        width: 80%;
    }
}

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.analysis {
    margin: 64px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#click {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.flash span {
    border-bottom: red solid 1px;
}

#loading {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

